:root {
    --navbar-height: 8vh;
}


/* Overriding Built-Ins */
a{
    text-decoration: none;
    color: #000;
    /* cursor: url("../img/neweye.png") 8 8, default; */
    cursor: crosshair;
}

html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* cursor: url("../img/neweye.png") 8 8, default; */
    cursor: crosshair;
}

/* User Defined Classes */

/* .eyelid {
    width: 48px;
    height: 48px;
    position: absolute;
    pointer-events: none;
    z-index: 9999;
} */

/* Marquee */
.marquee{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4vh;
    overflow: hidden;
    text-shadow: #333;
    opacity: 1;
    transition: color 1s ease;
    color: #000;
    background-color: #FFF;
    z-index: 999;
}

.marquee-hidden{
    top: -10vh;
}

.hidden {
    color: #fff;
}

.marquee-text{
    text-transform: uppercase;
    text-shadow: #333;
    font-style: italic;
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 8s linear infinite;
    color: inherit;
}

.marquee:hover .marquee-text {
    animation-play-state: paused;
}

#marquee-text1{
    animation-delay: 0s;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(110vw);
    }

    100% {
        transform: translateX(-20vw);
    }
}


/* Navbar Classes */
.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: var(--navbar-height); 
    top: 5vh;
    left: 0;
    padding: 0;
    margin: -1%;
    transition: top 0.3s ease;
    opacity: 1;
    background-color: #FFF;
    z-index: 999;
}

.navbar-hidden{
    top: -10vh;
}

.image-container{
    position: absolute;
    left: 5%;
    width: var(--navbar-height);
    height: var(--navbar-height);
}

.path {
    stroke: black;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
}

.logo{
    height: 100%;
}

/* Define animations */
@keyframes draw1 {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes draw2 {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes draw3 {
    to {
        stroke-dashoffset: 0;
    }
}

/* Apply animations */
/* D1 = 370.786 */
/* D2 = 267.393 */
/* D3 = 60 */
#pen1 {
    stroke-dasharray: 192.5;
    stroke-dashoffset: 385;
    animation: draw1 5s linear infinite;
}
#pen2 {
    stroke-dasharray: 135.5;
    stroke-dashoffset: 271;
    animation: draw2 5s linear infinite;
}
#pen3 {
    stroke-dasharray: 30;
    stroke-dashoffset: 60;
    animation: draw3 5s linear infinite;
}

.navbar-links-container{
    position: absolute;
    width: 60%;
    right: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navbar-link{
    white-space: nowrap;
    font-size: 1.5vw;
    margin: 0 2%;
    font-weight: bold;
    letter-spacing: .1rem;
}

.navbar-link:hover{
	text-decoration: underline;
	text-underline-offset: 1em;
    color: #555;
}

/* Intro-Container */

.intro-container{
    margin: 20vh auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.my-name-is{
    display: flex;
    width: 60vw;
    justify-content: center;
    font-size: 2vh;
    text-align: center;
}

.ethan{
    margin-top: 3vh;
    display: flex;
    width: 60vw;
    justify-content: center;
    text-align: center;
    font-size: 8vh;
}

.what-i-love{
    margin-top: 2vh;
    display: flex;
    width: 80vw;
    justify-content: center;
    font-size: 6vh;
    text-align: center;
}

.what-i-do{
    margin-top: 4vh;
    display: flex;
    width: 80vw;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
}


.about, .experience, .projects{
    width: 70%;
    margin: 40vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title, .experience-title, .projects-title{
    text-align: center;
    font-size: 2.5rem;
    margin: 10vh auto;
}

.about-content{
    margin: 4vh auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .about-content {
        flex-direction: column;
    }
    .about-text { 
        width: 70%;
        margin-right: 0;
        margin-bottom: 5%;
    }
}

.about-text{
    font-size: 1.5rem;
    letter-spacing: .1rem;
    width: 55%;
    margin-right: 10%;
}

.about-image{
    position: relative;
    width: 24vw;
    height: 32vw;
    border-radius: 5%;
    perspective: 1000px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}



.tabbed-paragraph{
    text-indent: 2rem;
}

.front-image, .back-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-radius: 5%;
    backface-visibility: hidden;
    transition: transform 1s ease, opacity 1s ease;
}

.about-image:hover .front-image{
    transform: rotateY(180deg);
    /* animation: rotate-front 2s linear, kill-alpha 2s forwards; */
}

.about-image:hover .back-image{
    transform: rotateY(0deg);
    opacity: 1;
    /* animation: rotate-back 2s linear, wake-alpha 2s forwards; */
}

.back-image{
    transform: rotateY(-180deg);
    opacity: 0;
}

.experience-text, .projects-text{
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-align: center;
}

.experience-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inline-link:hover{
    color: #AAA;
}

.languages-container, .technologies-container{
    margin: 5% 1%;
    width: 49%;
    display: flex;
    flex-direction: column;
}

/* Media query for screens smaller than 1000px */
@media (max-width: 1000px) {
    .experience-container {
        flex-direction: column; /* Change flex direction to column */
    }

    .languages-container, .technologies-container {
        width: 100%; /* Set width to 100% */
    }
}

.languages-title, .technologies-title{
    font-size: 2rem;
    font-weight: 600;
    text-decoration: wavy;
    width: 100%;
    text-align: center;
    margin: 3% 0;
}

.languages-list, .technologies-list{
    height: 35vh;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
} 

.large-3D-text{
    text-shadow: -4px 12px 8px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
}

.medium-3D-text{
    text-shadow: -3px 8px 6px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
}

.small-3D-text{
    text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

.large-3D-text, .medium-3D-text, .small-3D-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Language spatial declarations */

.js{
    top: 10%;
    left: 65%;
}

.c{
    top: 35%;
    left: 10%;
}

.python{
    top: 65%;
    left: 40%;
}

.html{
    top: 5%;
    left: 30%;
}

.css{
    top: 75%;
    left: 80%;
}

.csharp{
    top: 40%;
    left: 55%;
}

.bash{
    top: 95%;
    left: 25%;
}

.cpp{
    top: 45%;
    left: 75%;
}

.scheme{
    top: 80%;
    left: 5%;
}

.haskell{
    top: 10%;
    left: 10%;
}

.swift {
    top: 40%;
    left: 35%;
}

.sml {
    top: 100%;
    left: 65%;
}

/* Technology space declarations */

.github{
    top: 40%;
    left: 40%;
}

.unity { 
    top: 70%;
    left: 15%;
}

.react {
    left: 20%;
    top: 15%;
}

.docker{
    top: 30%;
    left: 70%;
}

.blender{
    top: 80%; 
    left: 60%;
}

.linux{
    top: 5%;
    left: 60%;
}


.projects-list{
    margin: 5% 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.project{
    width: 44%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border-color: #000;
    border-width: .1rem;
    border-style: solid;
    margin: 2.5% 2.5%;
}

.project-title{
    border-radius: 45px 45px 0 0;
    background-color: #000;
    color: #FFF;

}

.project-title > p{
    text-align: center;
    margin: 5% 3%;
    font-size: 1.5rem;
}

.project-description{
    padding: 8% 3%;
    font-size: 1.25rem;
    text-align: center
}

.project-skills{
    display: flex;
    justify-content: space-around;
    padding: 0% 3% 5% 3%;
    flex-wrap: wrap;
}

.project-skill{
    margin: 3% 3%;
    padding: 3% 3%;
    border-radius: 50px;
    background-color: #000;
    color: #FFF;
}

.project {
    &:hover {
      .project-title,
      .project-skill {
        background-color: #555;
      }
      .project-title > p{
        font-size: 1.75rem;
      }
      .project-description{
        font-size: 1.3rem;
      }
    }
  }

.project:hover{
    width: 47.5%;
    margin: 0 1.25%;
}





/* Fixed Ixon Classes */
.fixed-icon-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    bottom: 5vh;
    left: 1.5vw;
    width: 3vw;
    height: 40vh;  
}

.fixed-icon{
    fill: #000;
    align-self: center;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.fixed-icon:hover{
    fill: gray;
}


